*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%; 
}

:root{
    --bce-header: #add8e6;
    --bce-header-content: #daa520;
    --bce-jbt: #00008b;
    --bce-jbc: #ee82ee;
    --bce-primary: #1e90ff;
    --bce-primary-variant: #ffc0cb;
    --bce-darkbg: #d3d3d3;
    --bce-tech: #228b22;
    --bce-darker: #23272a;
    --bce-secondary-variant: #f08080;
    --bce-secondary: #20b2aa;
}

.bg-primary{
    background-color: var(--bce-primary);
}

.bg-primary-variant{
    background-color: var(--bce-primary-variant);
}

.bg-dark{
    background-color: var(--bce-darkbg);
}

.bg-tech{
    background-color: var(--bce-tech);
}

.bg-darker{
    background-color: var(--bce-darker);
}

.bg-secondary{
    background-color: var(--bce-secondary);
}

.bg-secondary-variant{
    background-color: var(--bce-secondary-variant);
}

.debug,*{
    border: 1px dashed black;
}
ul,li{
    display: inline-block;

}

a{
    text-decoration: none;
}

.w-100{
    width: 100%;
}

.w-70{
    width: 70%;
}

.w-60{
    width: 60%;
}

.w-40{
    width: 40%;
}

.h-80{
    height: 80%;
}

.h-90{
    height: 90%;
}


.mr_ml_auto{
    margin-left: auto;
    margin-right: auto;
}

.border-bottom{
    border-bottom: 1px solid lightgrey;
}

/* utilities */


.container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    min-height: 70px;
    display: flex;
    background-color: var(--bce-header);
    justify-content: center;
}

.header-content{
    background-color: var(--bce-header-content);
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
    
}

.jumbo-bg{
    background-color: var(--bce-jbt);
    min-height: 500px;
    display: flex;
}

.jumbotron{
    background-color: var(--bce-jbc);
    height: 80%;
    width: 80%;

}

.icf-section{
    min-height: 500px;
    display: flex;
}

.tech-section{
    min-height: 990px;
    display: flex;
}

footer{
    min-height: 628px;
    display: flex;
}

.grow-variant{
    flex-grow: 1;
}

.primary-db{
    background-color: var(--bce-primary);
}

.primary-variant-db{
    background-color: var(--bce-primary-variant);
}