*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%; 
}

:root{
    --bce-header: #add8e6;
    --bce-header-content: #daa520;
    --bce-jbt: #00008b;
    --bce-jbc: #ee82ee;
}

.debug{
    border: 1px dashed black;
}
ul,li{
    display: inline-block;

}

a{
    text-decoration: none;
}
.container{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    min-height: 70px;
    display: flex;
    background-color: var(--bce-header);
    justify-content: center;
}

.header-content{
    background-color: var(--bce-header-content);
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
    
}

.jumbo-bg{
    background-color: var(--bce-jbt);
    min-height: 500px;
    display: flex;
}

.jumbotron{
    background-color: var(--bce-jbc);
    height: 80%;
    width: 80%;

}
